@import './modules/_variables';

@font-face{
  font-family:'Marydale';
  src:url('../fonts/marydale/marydale-webfont.eot');
  src:url('../fonts/marydale/marydale-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/marydale/marydale-webfont.woff') format('woff'), url('../fonts/marydale/marydale-webfont.ttf') format('truetype'), url('../fonts/marydale/marydale-webfont.svg#marydaleregular') format('svg');
  font-weight:normal;
  font-style:normal
}
.product-category {
  margin-bottom: 20px;

  h2 {
    color: #4A4A4A;
  }
}

@media (max-width: 1024px) {
}
@media (min-width: 1025px) {
}
